@using WebListaGenerica.Models.Business.Entitys
@model  EntMascota
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/MyFonts/material-icon/css/material-design-iconic-font.min.css">
    <link href="~/Styles/AgregarMascota.css" rel="stylesheet" />
    <title>Editar Mascota</title>
</head>
<body>
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Editar Mascota</h2>
                        <form method="POST" class="register-form" id="form">
                            <div class="form-group">
                                <label for="Nombre"><i class="zmdi zmdi-circle"></i></label>
                                <input type="text" name="Nombre" id="Nombre" placeholder="Nombre" value="@Model.Nombre" required />
                            </div>
                            <div class="form-group">
                                <label for="Raza"><i class="zmdi zmdi-circle"></i></label>
                                <input type="text" name="Raza" id="Raza" placeholder="Raza" value="@Model.Raza" required />
                            </div>
                            <div class="form-group">
                                <label for="Edad"><i class="zmdi zmdi-circle"></i></label>
                                <input type="number" name="Edad" id="Edad" placeholder="Edad" value="@Model.Edad" required />
                            </div>
                            <div class="form-group">
                                <label for="Especie"><i class="zmdi zmdi-circle"></i></label>
                                <input type="text" name="Especie" id="Especie" placeholder="Especie" value="@Model.Especie" required />
                            </div>
                            <div class="form-group">
                                <div class="box">
                                    <select name="Sexo" id="Sexo">
                                        <option disabled="disabled" selected="selected" value="sexo">Sexo</option>
                                        <option value="macho">Macho</option>
                                        <option value="hembra">Hembra</option>
                                    </select>
                                </div>
                            </div>
                            <input type="hidden" name="Id_Mascota" value="@Model.Id_Mascota">
                            <div class="form-group form-button">
                                <input type="submit" name="submitButton" id="submitButton" class="form-submit" value="Aceptar" />
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="http://www.clker.com/cliparts/j/3/Z/Y/D/5/dog-head-md.png" alt="sing up image"></figure>
                        <a href="/Home/Index" class="signup-image-link">Cancelar</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!--Alertas-->
    <div class="alerts">
        <div id="alertError" class="alert hide">
            <span class="icono-alert fas fa-exclamation-circle"></span>
            @if (TempData["error"] != null)
            {
                <span class="msg">@TempData["error"]</span>
            }
            else
            {
                <span class="msg">Todos los campos son obligatorios</span>
            }
        </div>
    </div>

    @if (TempData["error"] != null)
    {
        <script>
            setTimeout(() => {
                alertError.classList.remove('hide');
                alertError.classList.add('show');
            }, 1000);
            setTimeout(() => {
                alertError.classList.remove('show');
                alertError.classList.add('hide');
            }, 2500)
        </script>
    }
    <script src="~/Models/JS/Validacion.js"></script>
</body>
</html>

